<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAME IS ON !</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body style="background-color: #070707;">
    <header>
    <h1>~ R E S U L T ~</h1>
    </header>
    <div class="record">
        <table class="center-table" border="5px" width="500px">
            <tr>
                <th colspan="3">RECORD</th>
            </tr>
            <tr>
                <td style="color: green;">Won</td>
                <td style="color: red;">Lose</td>
                <td>Draw</td>
            </tr>
            <tr>
                <td style="color: green;"><%= session[:win_count] %></td>
                <td style="color: red;"><%= session[:lose_count] %></td>
                <td><%= session[:draw_count] %></td>
            </tr>
        </table>
    </div>
    <div class="result"    
    <% session[:results].each_with_index do |results, index| %>
        <p style="font-style: italic;">Round <%= index + 1 %></p>
        <p><% results.each do |key, value| %>
            <%= key %>: <%= value%><br> 
            <% end %>___________________
            </p>
        <% end %>
    </div>
    <a href="/" >Restart Game</a>
</body>
</html>